{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% for video in videos %}
        <div>
            {{ video.name }}
            (<a href="{{ path("app_watch_page", {linkId: constant("App\\Controller\\WatchController::OWNER_LINK_ID"), videoId: video.customId}) }}">Link</a>)
        </div>
    {% endfor %}

{% endblock %}