{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% for video in videos %}
        <div>
            {{ video.name }}
        </div>
    {% endfor %}

{% endblock %}