.customChip {
    display: inline-block;
    background-color: darkred;
    font-size: 1vw;
    padding: 0 5% 0 5%;
    height: 1.5vw;
    border-radius: 0.75vw;
    font-weight: bold;
    color: lightgrey;
}