.customChip {
    display: inline-block;
    background-color: darkred;
    font-size: 1vw;
    padding: 0 5% 0 5%;
    height: 1.5vw;
    border-radius: 0.75vw;
    font-weight: bold;
    color: lightgrey;
}

.addButton {
    position: absolute;
    right: 2%;
    top: calc(90vh - 3vw);
    width: 3vw;
}

.addButton button {
    position: fixed;
    height: 3vw;
    width: 3vw;
    font-size: 1.4vw;
}