.bg-grey {
    background-color: #ccc;
}

.navbar {
    margin-bottom: 50px;
}

.hidden {
    height: 1px;
    width: 1px;
    position: absolute;
    top: -10px;
    left: -1px;
}

.avatar {
    height: 30px;
}

.avatar-dropdown {
    /*top: calc(100% + 0.40rem);
    right: -0.75rem;*/
    left: auto !important;
}