.bg-grey {
    background-color: #ccc;
}

.navbar {
    margin-bottom: 50px;
}

.hidden {
    height: 1px;
    width: 1px;
    position: absolute;
    top: -10px;
    left: -1px;
}

.avatar {
    height: 30px;
}

.container {
    position: relative;
}

.customNavbar {
    margin-right: auto;
}

@media only screen and (max-width: 990px) {
    .avatar-dropdown {
        left: 0;
        right: auto;
        text-align: left;
    }
}

.no-content {
    margin-left: 3%;
}

.deleteToggle:after {
    display: none;
}

.deleteConfirm {
    text-align: center;
    padding: 1vw;
    font-size: 1vw;
    min-width: 14vw;
}

.deleteButton {
    color: red;
}

.no-wrap {
    white-space: nowrap;
}

.btn-link.deleteToggle {
    color: red;
}

.btn:disabled {
    color: dimgrey;
}

a.btn.disabled {
    color: dimgrey;
    pointer-events: none;
    cursor: pointer;
}