.grid-container {
    width: 106%;
    margin-left: -3%;
}

.grid-container .row {
    margin: 0;
}

.video-tile {
    position: relative;
    padding: 3%;
}

.video-tile:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.tile-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.thumbnail {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.thumbnail img {
    width: 100%;
}

.play-button {
    position: absolute;
    left: calc(50% - 1.5vw);
    top: calc(50% - 1.5vw);
    font-size: 3vw;
    /*color: var(--vjs-theme-fantasy--primary); */
    color: #9f44b4;
    transition: color 0.3s;
}

.thumbnail:hover .play-button {
    color: white;
}

.info {
    padding: 1vw;
}