.grid-container {
    width: 106%;
    margin-left: -3%;
}

.grid-container .row {
    margin: 0;
}

.video-tile {
    position: relative;
}

.video-tile:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.tile-content {
    position: absolute;
    left: 8.5%;
    top: 8.5%;
    height: 83%;
    width: 83%;
}

.thumbnail {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.thumbnail:after {
    content: "";
    display: block;
    padding-top: calc(100% * 9 / 16);
}

.thumbnail img {
    position: absolute;
    width: 100%;
}

.play-button {
    position: absolute;
    left: calc(50% - 1.5vw);
    top: calc(50% - 1.5vw);
    font-size: 3vw;
    /*color: var(--vjs-theme-fantasy--primary); */
    color: #9f44b4;
    transition: color 0.3s;
}

.thumbnail:hover .play-button {
    color: white;
}

.info {
    padding: 2% 4% 4%;
}

.disable {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.disable .spinner {
    position: absolute;
    width: 3vw;
    height: 3vw;
    left: calc(50% - 1.5vw);
    top: calc(9 / 16 * 50%);
    color: lightgrey;
}

.disable .state {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 55%;
    color: lightgray;
}

.buttons {
    position: absolute;
    bottom: 3%;
    right: 3%;
}

/*.buttons a {
    color: #9f44b4;
}*/

.link:hover a {
    color: grey;
}

.transcodingProgress {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.transcodingProgress .value {
    width: 100%;
    color: lightgrey;
    text-align: center;
    position: absolute;
    bottom: 5%;
}

.transcodingProgress .bar {
    position: absolute;
    bottom: 0;
    height: 2%;
    background-color: lightgrey;
}

.views, .length {
    position: absolute;
    font-size: 1vw;
    right: 3%;
}

.views {
    top: calc(9 / 16 * 100% + 4%);
}

.length {
    top: calc(9 / 16 * 100% + 4% + 5%);
}