#player {
}

#player .video-js {
    width: 100%;
}

.pane-container {
    margin-bottom: 3%;
}

#set {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 23.5%;
    min-height: 100px;
    padding: 1%;
}

#info {
    position: relative;
    padding: 3%;
}

.views {
    position: absolute;
    top: 7%;
    right: 3%;
}

.user {
    position: absolute;
}

.user img {
    position: absolute;
    left: 1.5vw;
}

h2 {
    margin-top: 2vw;
}

.indented {
    margin-left: 4vw;
}

@media only screen and (max-width: 1500px) {
    .user img {
        left: auto;
    }
}

@media only screen and (max-width: 1050px) {
    h2 {
        margin-top: 3vw;
    }
}

@media only screen and (max-width: 780px) {
    h2 {
        margin-top: 4vw;
    }
}

@media only screen and (max-width: 760px) {
    h2 {
        margin-top: 5vh;
    }

    .indented {
        margin-left: 0;
    }

    .user span {
        margin-left: 40px;
    }
}