#player {
    width: 73.5%;
}

#player .video-js {
    width: 100%;
}

.pane-container {
    position: relative;
}

#set {
    position: absolute;
    top: 0;
    right: 0;
    width: 23.5%;
    min-height: 100px;
    padding: 1%;
}

#info {
    width: 73.5%;
    padding: 1%;
    position: relative;
}

.views {
    position: absolute;
    top: 7%;
    right: 3%;
}

.user {
}

.user img {
    height: 3vw;
    margin-right: 1vw;
}

.user span {
    font-size: 1vw;
}

h2 {
    position: absolute;
    top: 1vw;
    left: 10vw;
}

.description {
    margin-left: 4vw;
}