<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="{{ asset("css/mdb.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/mdb.rtl.min.css") }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="{{ asset("js/mdb.min.js") }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
