{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden</h1>

    <p>
        You are not allowed to access this URL.<br/>
        Click <a href="{{ path('app_dashboard') }}">here</a> to return to the Dashboard.
    </p>
{% endblock %}